
*{
    margin:0;
    padding: 0;
}

body{
 	 	font-family: courier , monospace;
        background-color: #C3D1E7;
 }


.container_nachalo{
    background-color: #C3D1E7;
    display: flex;
flex-direction: column;
align-items: center;
 border: 2px solid black;
    
}

.title {
    color: #473728;
    font-size: 70px;
    text-align: center;
    text-decoration: none;
    font-family: courier , monospace;
    position: relative;
}


.im{
    float: left;
    padding: 0 20px 20px 0;
    padding: 20px;
}


.container{
    color: #473728;
    background-color: #C3D1E7 ;
font-size: 28px;
text-align: center;
    text-decoration: none;
    position: relative;
     padding: 35px;
      border: 2px solid black;
     
}



.im1{
    float: right;
    padding: 0 20px 20px 0;
    padding: 35px;
}


.container2{
   color: #473728;
    background-color: #C3D1E7;
font-size: 28px;
text-align: center;
    text-decoration: none;
    position: relative;
     padding: 35px;
     border: 2px solid black;
}

.im2{
    float: left;
    padding: 0 20px 20px 0;
    padding: 35px;
}


.container3{
   color: #473728;
    background-color: #C3D1E7;
font-size: 28px;
text-align: center;
    text-decoration: none;
    position: relative;
     padding: 35px;
     border: 2px solid black;
}

.im2{
    float: left;
    padding: 0 20px 20px 0;
    padding: 35px;
}


 .tit{
    color: white;
    text-decoration: none;
    font-size: 30px;
}








